* {
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    background-repeat: repeat;
    /*background-color: #ffcc0e;*/
    background-image: url("../img/sleppinDoge.jpg");
    width: 100%;
    /*background-image: linear-gradient(#fff6fc, #cac1c7);*/
}
.container {
    width: 1024px;
    margin: 20px auto;
}

.contentBlock {
    border: 2px solid #929091;
    border-radius: 10px;
    background-color: rgba(152, 239, 239, 0.9);
}

.container header {
    color: #272727;
    font-family: fantasy;
    height: 100px;
    padding: 5px;
    padding-top: 25px;
    font-size: 35px;
    margin-bottom: 40px;
}

.about {
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    text-decoration: none;
}

.about li {
    display: inline;
}

.about .name, .about .group {
    margin-right: 50px;
}


main {
    height: auto;
    padding: 70px;
    font-family: Arial, sans-serif;
    min-height: 700px;
}

input[type="text"], select {
    height: 25px;
    width: 200px;
}

.error-span {
    margin-left: 5px;
    text-shadow: 1px 1px #4b4749;
    color: #1afff8;
}


textarea, input[type="text"] {
    font-size: 16px;
    border:none;
    border-bottom: 3px solid white;
    padding-top: 5px;
    padding-left: 3px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline:none;
}

textarea:focus, input[type="text"]:focus {
    border-radius: 10px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline:none;
    border-bottom: 3px solid #1afff8;
}

input.error-input, input.error-input:focus {
    margin-bottom: 2px;
    outline: none;
    border: 1px solid #ff1500;
}

.y-error{
    overflow: hidden;
    border: 1px solid red;
}

select, select:focus{
    outline:none;
    height: 33px;
    width: 200px;
    font-size: 15px;
    border-radius:10px;
    border-bottom: 2px solid white;
    padding-top: 1px;
}

select:focus {
    border-bottom: 3px solid #03fff2;
}

#result-table{
    position: relative;
    margin-left: 180px;
    margin-top: 350px;
    border-collapse: collapse;
    background-color: white;
}


#result-table, #result-table tr, #result-table td {
    border: 1px solid black;
}

canvas {
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

#x-block {
    width: 350px;
    height: 40px;

}

#r-block {
    font-size: 16px;
    letter-spacing: 0.6px;
    margin-left: 5px;
    color: #000000;
}

input[type="radio"] {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    margin-top: 10px;
    margin-right: 10px;
}

#xyr-form{
    display:block;
    float: left;
}

#canvas-frame {
    padding: 20px;
    display: block;
    float: right;
    height: 320px;
    width: 370px;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 30px;
}

input[type="submit"]{
    width: 200px;
    height: 50px;
}

